html, body{
    height:150%;
    margin:0;
    padding:0;
}

body{
    min-height: 150%;
    background:linear-gradient(to bottom, #08C0D2,#034046)

}


.quiz-title{
    background-color: aqua;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: snow;
    padding: 30px;
    opacity: 0;
    animation:Glide_FadeIn 3s ease-in-out forwards;
}

@keyframes Glide_FadeIn{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.quiz-container{
    max-width: 750px;
    height: 380px;
    background: aqua;
    margin:auto;
    margin-top: 20px;
    border-radius: 50px;
    padding:20px;
}

.progress-bar-bg{
    width:600px;
    height: 12px;
    background-color: lightskyblue;
    margin:auto;
    border-radius:10px;
}
.progress-bar-fill{
    width:50%;
    height:12px;
    background: rgb(0, 99, 130);
    border-radius: 10px;
}
.question{
    font-size: 28px;
    color:white;
    font-family: monospace;
    margin-top:30px;
}
.drop-down{
    display:block;
    margin:auto;
    margin-top: 30px;
    width: 400px;
    height: 30px;
    background-color: lightsalmon;
    border-radius: 10px;
    text-align: center;
    font-weight: 800;
}
.start-button{
    margin:auto;
    margin-top: 60px;
    width:100px;
    height:30px;
    border-radius: 30px;
    display:block;
    font-weight: 800;
}
.start-button:hover{
    background:aqua;
    width:120px;
    height:40px;
}
.timer{
    font-size:36px;
    background-color:lime;
    margin:auto;
    display:block;
    width:120px;
    text-align: center;
    margin-top:30px;
    font-family:'Press Start 2P', cursive;
    border-radius: 60%;
    padding: 50px 10px;
}

.option-container {
    margin-top: 30px;
    padding: 10px;           
    display: flex;          
    flex-direction: column; 
    gap: 10px;             
    height: auto;           
    box-sizing: border-box;
}

.option-btn {
    display: block;
    padding: 8px 16px;       
    font-size: 16px;        
    cursor: pointer;       
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
}

.feedback-label{
    color: black;
    font-size: 10px;
    font-family: 'Press Start 2P',cursive;
    margin-top: 40px;
    margin-left: 20px;
}

.bgm-selector {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    width: 60%;
    font-size: 24px;
    padding: 7px 9px;
    border-radius: 10px;
    background-color: darkslategrey;
    color: whitesmoke;
}

.music-btn {
    display: block;
    margin: auto;
    font-size: 24px;
    padding: 7px 9px;
    margin-top: 5px;
}